html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
}

.Page{
    width: 100%;
    height: 100%;    
    display:flex ;
    gap: 2%;
}

/* Separation de la page */
.Partie1{
    margin-top: 20px;
    width: 5%;
    height: 100%;
}

.Partie2{
    width: 92%;
    height: 100%;

}


/* Debut de la partie 1 */
.Colone{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.Ecriture_Colone{
    justify-content: center;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.Ecriture_Et_Logo_Colone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 7px;
}

.Ecriture_Et_Logo_Colone:hover{
    opacity: 0.5;
}


/* Debut de la part 1 en partie 2 */
.Part1{
    position: fixed;
    width: 93%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    z-index: 1000;

}

.Logo_et_Ecriture_Youtube{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 1px;
    cursor: pointer;
    margin-left: -5%;
}

.Ecriture_Youtube{
    font-family: 'Arial Narrow';
    letter-spacing: -1px;
    font-size: 22px;
}

.Ecriture_MA{
    align-items: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-size: 10px;
    margin-top: -6px;
}

.Tsearch{
    display: flex;
    gap: 15px;
}

.Cercle_Audio{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cerAudio:hover{
    opacity: 0.5;
}

.Search{
    width: 40%;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

.Search input {
    border: none;
    outline: none;
}

.Recher{
    margin-left: 115px;
    margin-top: 6px;
    cursor: pointer;
}


.butt {
    background-color: #f8f8f8;
    border: none;
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttt:hover {
    background-color: #e0e0e0;
}


.Profil{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.Create{
    align-items: center;
    width: 100px;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(207, 203, 203);
    display:flex ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.Create:hover{
    opacity: 0.5;
}

.Image_Notification{
    cursor: pointer;
}

.Image_Notification:hover{
    opacity: 0.5;
}

.Cercle_Profil{
    margin-top: 0%;
    display: flex;
    height: 25px;
    width: 25px;
    background-color: rgb(59, 11, 11);
    border-radius: 50%;
    cursor: pointer;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cerP:hover{
    opacity: 0.5;
}

/* Debut de la part 2 en partie 2 */
.Part2{
    position: fixed;
    display: flex;
    width: 100%;
    height: 12%;
    gap: 20px;
    white-space: nowrap;
    overflow-x:auto;
    margin-top: 4.5%;
    justify-content: space-around;
    background-color: white;
    z-index: 1000;
}

.Ecriture_Part2{
    display: inline-block;
    height: 30%;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.425);
    text-align: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: normal;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.Ecriture_Part2:hover{
    opacity: 0.5;
}

.Utiliser{
    display: inline-block;
    height: 30%;
    padding: 10px;
    background-color: black;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}


/* Debut de la part 3 en partie 2 */
.Part3{
    margin-top: 15%;
    width: 100%;
    height: 80%;
    margin-right: 2%;
}

.Ligne{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1%;
    margin-bottom: -11%;
}

.Tout_Video{
    display: flex;
    width: 32%;
    height: 500px;
    flex-direction: column;
    gap: 5px;
}

.Video{
    width: 100%;
    height: 230px;
    border-radius: 15px;
    
}

.Video:hover{
    opacity: 0.5;
}

.Bas_De_Video{
    display: flex;
    width: 100%;
    height: 200px;
    gap: 10px;
}

.Profil_Youtube{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    cursor: pointer;
}

.Profil_Youtube:hover{
    opacity: 0.5;
}

.Titre_Video{
    width: 85%;
    height: 20%;
    overflow-x:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    overflow-y: auto;
}

.Sous_Titre_Video{
    width: 75%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: small;
}

.Total_Titre{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.Nbre_Vue_Video{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: small;
}



/* Partie shorts*/
.Video_Shorts{
    height: 500px;
    width: 100%;
    margin-bottom: 1%;
}

.Part1_Video_Shorts{
    width: 98%;
    height: 13%;
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.Partie_Gauche_Part1_Video_Shorts{
    display: flex;
    align-items: center;
}

.Partie_Droite_Part1_Video_Shorts{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.Cercle_Shorts{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.Total_Cercle_Shorts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.Partie_Droite_Part1_Video_Shorts:hover{
    opacity: 0.5;
    background-color: rgb(187, 182, 182);
}

.Part2_Video_Shorts{
    width: 100%;
    height: 87%;
    display: flex;
    gap: 3%;
}

.Contenue_Un_Seul_Short{
    height: 100%;
    width: 22%; 
    cursor: pointer;
}

.Contenue_Un_Seul_Short:hover{
    opacity: 0.5;
}

.Carre_Short{
   height: 75%;
   width: 100%;
   border-radius: 20px;
}

.Partie_Gauche_Titre_Short{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titre_Short{
    display: flex;
    justify-content: space-between;
}

.Nbre_Vue_Short{
   font-family: Arial, Helvetica, sans-serif;
   color: gray;
   font-size: small;
}

.Total_Titre_Short{
    height: 15%;
    width: 100%;
}